@model Sistema_de_Gestão_de_Estoque.Models.Fornecedor

<style>
    .edit-container {
        max-width: 400px;
        margin: 80px auto;
        padding: 30px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
</style>

<div class="edit-container">
    <h2 class="text-center">Editar Fornecedor</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label>Nome:</label> <br />
            <input asp-for="Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label>CNPJ:</label><br />
            <input asp-for="CNPJ" id="cnpj" class="form-control" /><p></p>
        </div>
        <div class="form-group">
            <label>Telefone:</label><br />
            <input asp-for="Telefone" id="telefone" class="form-control" /><p></p>
        </div>
        <div class="form-group">
            <label>Email:</label><br />
            <input asp-for="Email" class="form-control" /><p></p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        $(function(){
            $('#cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('#telefone').mask('(00) 00000-0000');
        });
    </script>
}